<!DOCTYPE html>
<html lang="en" ng-app="actions">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Simple App</title>
  </head>
  <body>
    <div ng-controller="FirstController">
      <h4>The Simplest adding machine ever</h4>
      <button ng-click="add(1)">Add</button>
      <a href="#" ng-click="subtract(1)">Subtract</a>
      <h4>Current count: {{ counter }}</h4>
    </div>
    <script src="../../node_modules/angular/angular.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
